html {
	background: #000;
	overflow-y: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */

	padding-bottom: 2rem;
}

html::-webkit-scrollbar {
	width: 0;
	height: 0;
}

body {
	font-family: sans-serif;
	color: #ffffff;
	margin: 0;

	scroll-behavior: smooth
}

a {
	color: #7777FF;
	text-decoration: none;
}

@keyframes text-background {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

.landing-header {
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;

	margin: auto;
	height: 100vh;
	width: 100vw;
}

.landing-header .text-wrapper {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

/*noinspection CssInvalidPropertyValue*/
.landing-header h1 {
	font-size: 5rem;

	padding: 0;
	margin: 2rem 0 0;

	text-align: center;
	transform: none;

	background: linear-gradient(170deg, #9a12b3, #ff6f00);
	background-size: 400% 400%;

	animation: text-background 5s ease infinite;

	/* Prefix-ridden Hack that allows background to only be shown on text */
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;

	/*animation-name: rainbow-text;
	animation-duration: 5s;
	animation-iteration-count: infinite;*/
}

.shorten-header {
	margin-top: 2.5vh;
	height: 35vh;
	width: 80%;
    margin-bottom: 2.5vh;
}

/* Down arrow */
.down-arrow {
	width: 2rem;
	height: 2rem;

	cursor: pointer;
	transition: transform 0.2s;
}

.down-arrow:hover {
	transform: scale(1.5);
}

.row-nav {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-content: space-between;

	width: 90%;
	height: 95vh;

	padding-left: 5%;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;

	margin-top: 2.5vh;
	margin-bottom: 2.5vh;

}

.row-nav > div {
	display: flex;

	justify-content: center;
	align-content: center;
	text-align: center;

	font-size: 3rem;

	height: 60%;
	width: 45vw;
	border-radius: 3rem;

	transition: transform 0.2s;
}

.row-nav > div:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.row-nav > div > span {
	transition: transform 0.2s, text-shadow 1s;
}

.row-nav > div:hover > span {
	transform: scale(1.01);
	color: #010101;
	text-shadow: #111 0.75rem 0.75rem 2rem;
}

.row-nav > div:nth-child(odd) {
	align-self: flex-start;
	background: linear-gradient(90deg, #9a12b3, #ff6f00);
}

.row-nav > div:nth-child(even) {
	align-self: flex-end;
	background: linear-gradient(-90deg, #9a12b3, #ff6f00);
}

.row-nav > div > span {
	color: black;
	font-weight: bold;
	align-self: center;
}

#back-button {
	display: flex;
	flex-flow: row nowrap;

	position: fixed;
	left: 1rem;
	top: 1rem;
	transition: transform 0.2s;
}

#back-button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

#back-button > img {
	width: 2rem;
	height: 2rem;
}

#back-button > span {
	align-self: center;
	padding: 0 1rem;
}

#login-header {
	position: fixed;
	right: 1rem;
	top: 1rem;
	transition: transform 0.2s;

	color: #fff;
    font-size: 1.5rem;
	font-weight: bold;
}

#login-header:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.showcase {
	display: flex;
	flex-flow: column wrap;
	align-content: center;

	box-sizing: border-box;
	width: 100vw;
	padding: 2rem;
}

.showcase > div {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}

/*noinspection CssInvalidPropertyValue*/
.showcase > div > h2 {
	width: 100%;
	font-size: 2.5rem;

	background: linear-gradient(-90deg, #9a12b3, #ff6f00);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
}

.showcase > div > p {
	overflow-wrap: break-word;
	max-width: 60rem;
	font-size: 1.2rem;
	padding: 0 5rem;
}

.links-nav {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-content: center;

	height: 50vh;
}

/*noinspection CssInvalidPropertyValue*/
.links-nav > a {
	background: repeating-linear-gradient(-20deg, #ff6f00, #9a12b3, #ff6f00);

	transition: background-position 2s, transform 0.2s;

	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;

	font-size: 4rem;
	text-align: center;
	text-decoration: none;
}

.links-nav > a:hover {
	transform: scale(1.05);
	background-position: -60rem 0;
}

.credentials-form {
    display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;

	width: 20rem;
    height: 20rem;

	margin-left: auto;
	margin-right: auto;

	font-size: 1.3rem;
}
.credentials-form > div {
	display: flex;
	justify-content: space-between;
    align-items: center;
	box-sizing: border-box;
    width: 100%;
	padding: 0.5rem;

}

.credentials-form > * {
	outline: none;
}

.credentials-form label {
    width: 50%;
	font-weight: bold;
}

.credentials-form input[type="text"], .credentials-form input[type="password"] {
    width: 50%;
    height: 3rem;

	display: block;
	box-sizing: border-box;
	background: repeating-linear-gradient(20deg, #9a12b3, #ff6f00, #9a12b3);

	border-radius: 0.2rem;
    border: none;

	text-align: center;
	font-size: 1.1rem;
    font-weight: 500;
	color: #000;
}

.credentials-form input[type="checkbox"] {
    width: 1.5rem;
	height: 1.5rem;
	margin: 0 auto;
}

.credentials-form button {
	width: 100%;
    height: 3rem;
	margin-top: 1rem;
	background: linear-gradient(-40deg, #ff6f00, #9a12b3);

    border: none;
	border-radius: 0.2rem;

	font-size: 1.3rem;
	font-weight: bold;
	color: #000;

	transition: transform 0.2s;
}

.credentials-form button:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.error-message {
	text-align: center;

	text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
	color: #ff4444;
}

.blogs-nav {
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}

.blogs-nav > div {
	box-sizing: border-box;
	display: flex;
	flex-flow: column wrap;

	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;

	text-align: center;
}

/*noinspection CssInvalidPropertyValue*/
.blogs-nav > div > a {
	box-sizing: border-box;
	width: 100%;
	padding-bottom: 0.2rem;

	font-size: 3rem;

	background: repeating-linear-gradient(20deg, #9a12b3, #ff6f00, #9a12b3);
	transition: background-position 2s, transform 0.2s;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;

}

.blogs-nav > div > a:hover {
	transform: scale(1.05);
	background-position: -60rem 0;
}

.blog-text {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;

	width: 100%;

	font-size: 1.1rem;
    margin-bottom: 2.5rem;
}

.blog-text > p {
    width: 40rem;
	max-width: 80%;
}

.comments {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}

.comments > * {
	width: 60%;
	margin: 0 auto;
}

/*noinspection CssInvalidPropertyValue*/
.comments > h2 {
	background: linear-gradient(20deg, #ff6f00, #9a12b3);
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;

    margin-bottom: 1rem;
}

.comments > .comment > span {
	font-weight: bold;
}

.comments > .comment > .comment-text {
	width: 80%;
	padding-left: 1rem;
	padding-bottom: 1.2rem;
	word-wrap: break-word;
}

.add-comment {
	display: flex;
	flex-flow: column nowrap;

	margin-bottom: 2rem;
}

.add-comment textarea {
	box-sizing: border-box;
	width: 100%;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.1rem;
	background: linear-gradient(20deg, #ff6f00, #9a12b3);
    outline: none;
	border: none;
	border-radius: 0.3rem;
	padding: 0.5rem;
}

.add-comment label {
	height: 0;
	visibility: hidden;
}

.add-comment button {
	box-sizing: border-box;
	width: 100%;
	height: 3rem;
	margin-top: 1rem;
	background: linear-gradient(-40deg, #ff6f00, #9a12b3);

	border: none;
	border-radius: 0.2rem;

	font-size: 1.3rem;
	font-weight: bold;
	color: #000;

	transition: transform 0.2s;
}

.add-comment button:hover {
	cursor: pointer;
	transform: scale(1.05);
}
