#back-button {
  display: flex;
  flex-flow: row nowrap;

  position: fixed;
  left: 1rem;
  top: 1rem;
  transition: transform 0.2s;
}

#back-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#back-button > img {
  width: 2rem;
  height: 2rem;
}

#back-button > span {
  align-self: center;
  padding: 0 1rem;
}

