html {
  /*
  Default font-size of 20px
  All font sizing in the css is relative to this value using rem units.
  */
  font-size: 20px;
}

/* For small screens make the font-size smaller */
@media (max-width: 700px), (max-height: 500px) {
  html {
    font-size: 10px;
  }
}

h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: ReadexPro, sans-serif;
}

@font-face {
  src: url("/static/font/ReadexPro-Regular.woff2") format("woff2"),
       url("/static/font/ReadexPro-Regular.ttf") format("ttf");
  font-family: ReadexPro;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url("/static/font/ReadexPro-Bold.woff2") format("woff2"),
       url("/static/font/ReadexPro-Bold.ttf") format("ttf");
  font-family: ReadexPro;
  font-weight: bold;
  font-display: swap;
}

