{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "tomdougiamas/meta.html" %}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/blog.scss" %}">
    {% endcompress %}
    <meta name="description" content="Tommy Dougiamas' blog | {{ blog.blog_title }}">
    <title>{{ blog.blog_title }} - Tommy Dougiamas</title>
</head>
<body>
{% include "tomdougiamas/back_button.html" %}
{% include "tomdougiamas/login_header.html" %}
<article>
    <header class="landing-header shorten-header">
        <h1>{{ blog.blog_title }}</h1>
        <p>Published on {{ blog.pub_date }} by Tommy Dougiamas</p>
        <h2>{{ blog.blog_summary }}</h2>
    </header>
    <div class="blog-text">
        {% autoescape off %}
            {{ blog.blog_text }}
        {% endautoescape %}
    </div>
</article>
{% include "tomdougiamas/comments.html" %}
</body>
</html>