<!-- This template requires comments.scss -->
{% load compress %}
{% load static %}
<section class="comments" id="comments">
    {% if username %}
        <form id="add-comment" class="add-comment" action="#comments" method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
        {% include "tomdougiamas/form_errors.html" %}
    {% endif %}
    <h2>Comments</h2>
    {% for comment in comments %}
        <section class="comment">
            <h3>{{ comment.author }} - {{ comment.pub_date }}</h3>
            <div class="comment-text">
                {{ comment.comment_text | linebreaks }}
            </div>
        </section>
    {% endfor %}
</section>