{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "tomdougiamas/meta.html" %}
    {% include "tomdougiamas/nav_meta.html" %}
    {% compress js %}
        <script src="{% static "js/downArrow.js" %}" defer></script>
    {% endcompress %}
    <title>Tommy Dougiamas</title>
    <meta name="description" content="Tommy Dougiamas, Australian student and Python developer. exciteabletom">
</head>
<body>
<header class="landing-header">
	{% include "tomdougiamas/face_header.html" %}
    <div class="text-wrapper">
        <h1>Tommy Dougiamas</h1>
        <h2>Web Developer and Student</h2>
    </div>
    <img class="down-arrow" id="down-arrow" alt="" src="{% static "images/down_arrow_small.png" %}" aria-hidden="true">
</header>
<nav class="row-nav" id="nav">
	<!--
    <div>
        <a href="{% url "tomdougiamas:about" %}">
            <span>About Me</span>
        </a>
    </div>
    <div>
        <a href="{% url "tomdougiamas:blog_index" %}">
            <span>Blog</span>
        </a>
    </div> -->
    <div>
        <a href="{% url "tomdougiamas:projects" %}">
            <span>My Projects</span>
        </a>
    </div>
    <div>
        <a href="{% url "tomdougiamas:links" %}">
            <span>Links</span>
        </a>
    </div>
</nav>
</body>
</html>