<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Tom Dougiamas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "tomdougiamas.css" %}"/>
</head>
<body>
<!--<video playsinline autoplay muted loop class="landing-video">
    <source src="{% static "videos/monke.mp4" %}">
</video>-->
<header class="landing-header">
    <h1>Tommy Dougiamas</h1>
    <h2>Web Developer and Student</h2>
</header>
<main class="row-nav">
    <div>
        <a>Learn more about me</a>
    </div>
    <div>
        <a>My projects</a>
    </div>
</main>

</body>
</html>