{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "tomdougiamas/meta.html" %}
    {% include "tomdougiamas/nav_meta.html" %}
    <title>Links - Tommy Dougiamas</title>
    <meta name="description" content="Tommy Dougiamas' links">
</head>
<body>
{% include "tomdougiamas/back_button.html" %}
<header class="landing-header shorten-header">
    <h1>My Links</h1>
</header>
<nav class="links-nav">
    <a href="mailto:tom@digitalnook.net">Email</a>
    <a href="https://github.com/exciteabletom/">Github</a>
    <a href="https://stackoverflow.com/users/11848187">Stack Overflow</a>
    <a href="https://digitalnook.net">Digital Nook</a>
</nav>
</body>
</html>