<!DOCTYPE html>
<html lang="en">
<head>
    {% include "meta.html" %}
    {% load static %}

    <meta name="description" content="Tommy Dougiamas' links">

    <title>Links - Tommy Dougiamas</title>
    <link rel="stylesheet" type="text/css" href="{% static "tomdougiamas.css" %}">
</head>
<body>
{% include "tomdougiamas/back_button.html" %}
<header class="landing-header shorten-header">
    <h1>My Links</h1>
</header>
<main class="links-nav">
    <a href="mailto:tom@digitalnook.net">Email</a>
    <a href="https://github.com/exciteabletom/">Github</a>
    <a href="https://digitalnook.net">Digital Nook</a>
</main>
</body>
</html>