<!DOCTYPE html>
<html lang="en">
<head>
    {% include "tomdougiamas/meta.html" %}
    {% load static %}

    <meta name="description" content="Login to Tommy Dougiamas' blog">
    <title>Login - Tommy Dougiamas</title>
</head>
<body>
{% include "tomdougiamas/back_button.html" %}
<header class="landing-header shorten-header">
    <h1>Blog Login</h1>
    <h2>An account will allow you to make comments</h2>
</header>
<main>
    <form class="credentials-form" method="post">
        {% csrf_token %}
        <div>
            <label for="username">Username</label>
            <input id="username" name="username" type="text" placeholder="Enter Username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="Enter Password" required>
        </div>

        <div>
            <label for="register">Register a new user</label>
            <input id="register" name="register" type="checkbox">
        </div>
        <button type="submit">Login</button>
    </form>
    <p class="error-message">{{ error }}</p>
</main>
</body>
</html>